github "ParsePlatform/Parse-SDK-iOS-OSX"
github "ReactiveCocoa/ReactiveCocoa" "5.0.0-alpha.3"
github "antitypical/Result"
github "SVProgressHUD/SVProgressHUD"
github "dzenbot/DZNEmptyDataSet"
github "mxcl/PromiseKit" ~> 4.0
github "PromiseKit/UIKit" ~> 1.0
